body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #060c21;
}

header {
  z-index: 1;
  position: fixed;
  background: #22242a;
  width: calc(100% - 0%);
  top: 0;
  height: 70px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  color: #410873;
  text-shadow: 0 0 3px #fdb827, 0 0 5px #fdb827;
  margin-left: 20px;
  margin-top: 20px;
}

.left_area span {
  color: #fdb827;
}

.logout_btn {
  padding: 5px;
  background: #fdb827;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
  border-radius: 24px;
  margin-top: -29px;
}

.logout_btn:hover {
  background: #7a00aa;
  text-decoration: none;
  color: white;
}

.sidebar {
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 5%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-top: 5px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  font-size: 20px;
}

.sidebar a:hover {
  background: #fdb827;
  text-decoration: none;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
  margin-top: 25px;
}

label #sidebar_btn:hover {
  color: #fdb827;
}

#check:checked ~ .sidebar {
  left: -185px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content {
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: #060c21;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info {
  display: none;
}

#check {
  display: none;
}

.mobile_nav {
  display: none;
}

.content .card p {
  background: #fff;
  width: 46%;
  float: left;
  padding: 25px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  opacity: 0.9;
  border-radius: 24px;
}

.content .card .info p {
  width: 96%;
  font-size: 22px;
}

@media screen and (max-width: 780px) {
  .sidebar {
    display: none;
  }

  #sidebar_btn {
    display: none;
  }

  .content {
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
  }

  #check:checked ~ .content {
    margin-left: 0;
  }

  .mobile_nav {
    display: block;
    width: calc(100%-0%);
  }

  .nav_bar {
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover {
    color: #fdb827;
  }

  .mobile_nav_items {
    background: #2f323a;
    display: none;
  }

  .mobile_nav_items a {
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover {
    background: #fdb827;
  }

  .mobile_nav_items i {
    padding-right: 10px;
  }

  .active {
    display: block;
  }
}

h2 {
  color: #fdb827;
}

table {
  color: white;
}

@media only screen and (max-width: 760px),
  (min-device-width: 802px) and (max-device-width: 1020px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .empty {
    display: none;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  /*
Label the data
*/
  td:nth-of-type(1):before {
    content: "Poniedziałek";
  }

  td:nth-of-type(2):before {
    content: "Wtorek";
  }

  td:nth-of-type(3):before {
    content: "Środa";
  }

  td:nth-of-type(4):before {
    content: "Czwartek";
  }

  td:nth-of-type(5):before {
    content: "Piątek";
  }

  td:nth-of-type(6):before {
    content: "Sobota";
  }

  td:nth-of-type(7):before {
    content: "Niedziela";
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 802px) and (max-device-width: 1020px) {
  body {
    width: 100%;
  }
  td {
    width: 100%;
  }
}

@media (min-width: 641px) {
  table {
    table-layout: fixed;
  }

  td {
    width: 100%;
  }
}

.row {
  margin-top: 20px;
}

.today {
  background: yellow;
}

.btn-sm {
  font-size: 20px;
}
