body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #fdb827, #410873);
  color: grey;
}

.box {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #020202;
  text-align: center;
  transition: 0.5s;
  border-radius: 100px;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 50px 10px #000000;
  box-shadow: 0px 0px 50px 10px #000000;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #7a00aa;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #cfa900;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #7a00aa;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #cfa900;
}

.label {
  display: flex;
  margin-left: 25%;
}
.g-recaptcha {
  margin: 10px;
  margin-left: 60px;
}
.checkmark {
  height: 15px;
  width: 15px;
}
.reg {
  display: flex;
  color: gray;
  font-size: larger;
  margin-left: 3%;
}

p {
  color: gray;
}

a {
  font-size: large;
  font-weight: 500;
}
